<template x-if="current_character">
  <section class="chat-container">
    <div class="chat-messages mb2">
      <template x-for="message in messages">
        <div class="message">
          <span x-text="message.character_name"></span>
          <span x-text="message.body"></span>
        </div>
      </template>
    </div>
    <form @submit.prevent="sendMessage">
      <div class="flex">
        <input type="text" x-model="input_chat_body" class="chat-input" />
        <button type="submit">Send</button>
      </div>
    </form>
  </section>
</template>