<%# ROOM %>
<template x-if="current_character">
  <div class="room">
    <template x-for="(row, y) in Array.from({ length: room.height })">
      <div class="flex row" x-bind:style="`max-width: ${room.width * 40}px;`">
        <template x-for="(col, x) in Array.from({ length: room.width })">
          <div class="tile relative"
                x-bind:class="{
                  'wall-north': y === 0 && !hasAdjacentRoom('north'),
                  'wall-south': y === room.height - 1 && !hasAdjacentRoom('south'),
                  'wall-west': x === 0 && !hasAdjacentRoom('west'),
                  'wall-east': x === room.width - 1 && !hasAdjacentRoom('east'),
                  'actioning': actioning_tile_x === x && actioning_tile_y === y
                }"
                @click="actioning_tile_x === x && actioning_tile_y === y ? (actioning_tile_x = null, actioning_tile_y = null) : (actioning_tile_x = x, actioning_tile_y = y)">
                <span class="dn o-30" x-text="`${x},${y}`"></span>

            <!-- Characters -->
            <template x-for="character in charactersByXY(x, y)">
              <div class="sprite absolute" x-bind:data-sprite="character.role" x-bind:alt="character.role"></div>
            </template>
          </div>
        </template>
      </div>
    </template>

    <legend>DEBUG</legend>
    <span x-text="actioning_tile_x"></span>
    <span x-text="actioning_tile_y"></span>
  </div>
</template>