
$background-color: #415278;
$base-spacing: 16px;
$mobile: "(max-width: 768px)";
$tablet: "(min-width: 768px)";
$tablet_only: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";


$color-blue: #172848;
$color-green: #6fb66f;
$color-primary: #172848;
$color-red: #592222;
$color-orange: #e6a23c;
$color-danger: $color-red;
$color-highlight: #8e8d32;
$color-success: #3f895a;

$color-medium: #8a7ec2;
$color-survivalist: $color-orange;
$color-historian: #6fb66f;

$form-radius: 0px;
$button-radius: 0px;

$color-box: #314160;

@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}

@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

@mixin tablet-only {
  @media #{$tablet_only} {
    @content;
  }
}