
$base-spacing: 16px;
$mobile: "(max-width: 768px)";
$tablet: "(min-width: 768px)";
$tablet_only: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

$color-primary: #8282ff;
$color-red: #ce4d4d;
$color-red-light: #e5bebe;
$color-danger: $color-red;
$color-yellow: #cecb4d;
$color-highlight: $color-yellow;
$color-green: #8bce4d;
$color-success: $color-green;

$card-background: white;
$border-color: #e0e0e0;


$form-radius: 4px;
$button-radius: 4px;

$color-box: white;

@mixin mobile {
  @media #{$mobile} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}

@mixin tablet {
  @media #{$tablet} {
    @content;
  }
}

@mixin tablet-only {
  @media #{$tablet_only} {
    @content;
  }
}